<header>
    <div class="Container">
        <a href="#" routerLink="/" class="Logo">ಠ_ಠ Foodie</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" >
                        <div class="login">Admin</div>   
                    </a>
                        <a routerLink="/signin">
                            <div class="signup">
                                
                            </div>
                        </a>
                    <a href="#" routerLink="/cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

