<div class="Container">
    <img [src]="food.imageUrl" [alt]="food.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
    </span>
    <span class="{{food.favourite?'favorite':'not'}}">
        ♥
    </span>
    </div>
    <div class="star">
        <star-rating 
        [value]="food.star" 
        [totalstars]="5" 
        checkedcolor="red"
        uncheckedcolor="black"
        size="24px"
        [readonly]="false">
    </star-rating>
    </div>
    
    <div class="origins">
        <span *ngFor="let origin of food.origins">
             {{origin}}.
        </span>
    </div>
    <div class="tags">
        <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
    </div>
    <div class="cook-time">
        <span>
            Time to cook about<strong>{{food.cookTime}}</strong> Min
        </span>
    </div>
    <div class="price">
        <span>
            {{food.price|currency:'NPR'}}
        </span>
    </div>
    <button (click)="addTCart()">add to Cart</button>
</div>


